/* ===============================
   Global Styles (Mobile-First)
   =============================== */
:root {
  --primary-blue: #1e3a8a; /* Deep Metallic Blue */
  --secondary-blue: #8ca6db; /* Lighter Silver-Blue */
  --accent-silver: #c0c0c0; /* Classic Silver */
  --light-bg: #fff; /* light Background */
  --light-text: #ffff; /* Light white Text */
  --btn-hover: #0d2565;
  --font-body: "Roboto", sans-serif;
  --flash-notify-error: #a32f2f;
  --flash-notify-success: #367d0d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  color: var(--btn-hover);
  font-size: 1.3rem;
}

h3 {
  color: var(--btn-hover);
}

h2 {
  color: var(--btn-hover);
}

p {
  color: var(--btn-hover);
}

button:disabled {
  background-color: var(--accent-silver);
  color: var(--light-bg);
  cursor: not-allowed;
  opacity: 0.6;
  border: 1px solid var(--accent-silver);
  box-shadow: none;
}

body {
  font-family: var(--font-body);
  background: url("../images/site/small_check.jpg") no-repeat center center
    fixed;
  background-color: var(--light-bg);
  color: var(--light-text);
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#wrapper {
  width: 100%;
  background: var(--light-bg);
  border: 3px solid var(--primary-blue);
  border-radius: 10px;
  max-width: 1500px;
  margin: 0 auto;
  padding: 10px;
}

/* ===============================
     Header & Navigation
  =============================== */
header {
  background: var(--light-bg);
  padding: 15px;
  text-align: left;
  color: var(--primary-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  color: var(--primary-blue);
  text-decoration: none;
  font-weight: bold;
}

.siteName {
  font-size: 30px;
}

nav {
  background: var(--btn-hover);
  padding: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 14px;
}

nav ul li a {
  display: inline;
  font-weight: bold;
  color: var(--light-text);
  cursor: pointer;
  text-decoration: none;
  font-size: 12px;
}

/* ===============================
     Main Content
 =============================== */
main {
  padding: 10px;
}

#featured-vehicle {
  background: var(--light-bg);
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

#featured-vehicle h2 {
  color: var(--primary-blue);
  font-size: 15px;
}

#featured-vehicle ul {
  list-style: none;
}

#featured-vehicle ul li {
  color: var(--btn-hover);
  font-size: 12px;
  font-weight: 600;
}

#featured-vehicle img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px auto;
}

.delorean-details {
  background: rgba(255, 255, 255, 0.2);
  padding: 10px;
  border-radius: 10px;
  backdrop-filter: blur(3px);
  position: absolute;
  top: 40%;
  left: 21%;
  transform: translate(-50%, -50%);
  width: 45%;
  max-width: 200px;
  text-align: left;
}

.btn {
  display: inline-block;
  background: var(--primary-blue);
  color: var(--light-text);
  padding: 8px 10px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 5px;
}

.btn:hover {
  background: var(--btn-hover);
}

/* ===============================
     Delorean Reviews
  =============================== */
#delorean-reviews {
  background: var(--primary-blue);
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
  height: auto;
}

#delorean-reviews h2 {
  color: var(--light-text);
}

.delorean-text ul {
  padding-left: 13px;
}

.delorean-text ul li {
  margin-top: 6px;
  font-size: 1.1rem;
  letter-spacing: 1.2px;
  margin-bottom: 10px;
  line-height: 2;
}

/* ===============================
     Delorean Upgrades Grid
  =============================== */
#delorean-upgrades {
  margin-top: 0px;
  margin-bottom: 20px;
}

.upgrade-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.upgrade-item {
  background: var(--accent-silver);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin-top: 5px;
}

.upgrade-item img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}

.upgrade-item a {
  display: block;
  text-decoration: none;
  color: var(--btn-hover);
  font-weight: bold;
  margin-top: 5px;
}

/* ===============================
    Vehicle classification styles
  =============================== */

#inv-display {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

#inv-display li {
  width: auto;
  height: 280px;
  border: 2px solid var(--btn-hover);
  padding: 10px;
  border-radius: 8px;
}

#inv-display li a {
  text-decoration: underline;
  color: var(--btn-hover);
}

.img-classification {
  width: 230px;
  height: 150px;
  border-radius: 8px;
}

.namePrice span {
  color: var(--primary-blue);
  font-weight: 600;
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.namePrice h2 {
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.classification-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 10px;
}

/* ===============================
    Vehicle details styles
  =============================== */

.vehicle-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  align-items: flex-start;
  padding: 5px;
}

.vehicle-detail-title {
  font-size: 34px;
  color: var(--primary-blue);
  max-width: 500px;
}

.vehicle-details img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Style the text content */
.vehicle-info {
  flex: 1.2;
  min-width: 300px;
  margin-top: 20px;
}

.vehicle-info h2 {
  font-size: 24px;
  color: var(--primary-blue);
}

.vehicle-info p {
  margin: 5px 0;
  font-size: 18px;
}

.vehicle-info .price {
  background-color: #dfe7f5;
  padding: 10px;
  border-radius: 7px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.vehicle-info .color {
  background-color: #def4f8;
  padding: 10px;
  border-radius: 7px;
  margin-bottom: 15px;
  margin-top: 15px;
}

/* =====================
   COMMENTS SECTION
====================== */
.comment-list {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}

.comment-list li {
  background-color: #f5f5f5;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  border-left: 4px solid var(--primary-blue);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  color: var(--primary-blue);
}

.comment-list li strong {
  color: var(--primary-blue);
  font-weight: 600;
}

.comment-list li small,
.comment-list li time {
  color: #373737;
  font-size: 0.865rem;
}

.comment-delete-btn {
  background: none;
  border: none;
  color: var(--flash-notify-error);
  font-weight: bold;
  cursor: pointer;
  padding: 0;
  font-size: 0.9rem;
}

.comment-delete-btn:hover {
  text-decoration: underline;
}

.comment-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-form {
  margin-top: 2rem;
}

.comment-form label {
  font-weight: 600;
  display: block;
  margin-bottom: 0.5rem;
}

.comment-form textarea {
  width: 100%;
  max-width: 600px;
  min-height: 100px;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  resize: vertical;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.comment-form button {
  margin-top: 1rem;
  width: 30%;
  padding: 0.6rem;
  background-color: var(--primary-blue);
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.comment-form button:hover {
  background-color: #0056b3;
}

/* ===============================
   Login Page Styles
================================ */

.delete-warning {
  color: var(--flash-notify-error);
  font-size: 18px;
  text-align: center;
}

.password-form {
  margin-top: 30px;
}

.form-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-container h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 25px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-top: 10px;
  color: var(--btn-hover);
}

input {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  padding: 4px;
  width: 100%;
  font-size: 16px;
}

select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  appearance: none;
  cursor: pointer;
}

/* Style the dropdown arrow */
select::-ms-expand {
  display: none;
}

select:hover,
select:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
  margin-top: 20px;
  padding: 10px;
  background: var(--primary-blue);
  color: var(--light-bg);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: var(--btn-hover);
}

.flash-message {
  color: var(--flash-notify-success);
  font-size: 35px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.flash-message li {
  color: var(--flash-notify-success);
  font-size: 15px;
  list-style: none;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.flash-message-error {
  color: var(--flash-notify-error);
  font-size: 15px;
  list-style: none;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;

}

.flash-message-success {
  color: var(--flash-notify-success);
  font-size: 15px;
  list-style: none;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.form-p {
  text-align: center;
  margin-top: 10px;
}

/* Link Styling */
.form-p a {
  color: var(--primary-blue);
  text-decoration: none;
}

.form-p a:hover {
  text-decoration: underline;
}

/* Password Input with Eye Icon */
.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-container input {
  width: 100%;
  padding-right: 40px; /* Leave space for the eye icon */
}

.toggle-password {
  position: absolute;
  right: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.toggle-password svg {
  color: #666;
  transition: fill 0.3s;
}

.toggle-password:hover svg {
  color: #004080; /* Matches button color */
}

.password-rule {
  font-size: 10px;
  color: var(--flash-notify-error);
  font-style: italic;
}

/* ===============================
    Vehicle management Styles
  =============================== */
.management-link {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 40px;
  margin-top: 20px;
}
.management-link p a {
  text-decoration: underline;
  font-size: 18px;
  font-weight: 600;
  color: var(--primary-blue);
}

.management h2 {
  margin-top: 20px;
}

.management p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.width-classificationSelect {
  width: 250px;
}

.show-classificionTable {
  color: var(--primary-blue);
}

.show-classificionTable table {
  width: 300px;
  margin-top: 30px;
}

.show-classificionTable {
  margin-top: 20px;
  overflow-x: auto; /* Ensures responsiveness */
}

#inventoryDisplay {
  width: 100%;
  border-collapse: collapse;
  background-color: #f8f9fa; /* Light gray background */
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

#inventoryDisplay thead {
  background-color: var(--primary-blue); /* Blue header */
  color: white;
  text-transform: uppercase;
}

#inventoryDisplay th,
#inventoryDisplay td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd; /* Light border */
}

#inventoryDisplay tbody tr:hover {
  background-color: #e9ecef; /* Hover effect */
}

#inventoryDisplay a {
  text-decoration: none;
  color: var(--btn-hover);
  font-weight: bold;
}

#inventoryDisplay a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.noscript-warning {
  background-color: #ffcccb;
  color: #900;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  border: 1px solid red;
  margin-top: 20px;
}

/* ===============================
    classification form Styles
  =============================== */
.classification-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.classification-container h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 25px;
}

/* ===============================
    Account management page Styles
  =============================== */

.account-container p,
h3 {
  margin-top: 20px;
}

/* ===============================
     Footer
  =============================== */
footer p {
  text-align: center;
  padding: 15px;
  background: var(--primary-blue);
  color: var(--light-text);
  margin-top: 20px;
}

footer a {
  text-decoration: none;
}

footer .error-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-size: 20px;
}

/* ===============================
  Media Queries (Larger Screens)
  =============================== */
@media (min-width: 768px) {
  h1 {
    color: var(--btn-hover);
    font-size: 2.1rem;
  }

  nav ul {
    justify-content: space-evenly;
  }

  nav ul li a {
    font-size: 18px;
  }

  #featured-vehicle {
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }

  #featured-vehicle h2 {
    font-size: 25px;
  }

  #featured-vehicle ul li {
    font-size: 15px;
    font-weight: 600;
  }

  #featured-vehicle img {
    max-width: 80%;
  }

  .delorean-details {
    top: 40%;
    left: 25%;
    width: 80%;
  }

  .btn {
    padding: 10px 15px;
  }

  #delorean-upgrades {
    margin-bottom: 0px;
  }

  #delorean-reviews {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 40px;
  }

  .upgrade-list {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10px;
  }

  #wrapper {
    width: 70%;
    max-width: 900px;
  }

  /* ===============================
    Vehicle classification styles
  =============================== */

  #inv-display {
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

  .classification-title {
    text-align: left;
    margin-bottom: 10px;
  }

  /* **************************************
 * Vehicle detail styles here
 * ************************************ */
  .vehicle-container {
    flex-direction: row;
    align-items: center;
  }

  .vehicle-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
  }

  .vehicle-details img {
    max-width: 100%;
    margin-top: -50px;
  }

  .vehicle-info {
    flex: 1;
    padding: 5px;
    min-width: 420px;
    margin-top: 1px;
  }
}
